<div class="article {{ range .Params.categories }} {{ . | urlize }} {{ end }}">
	<a href="{{.Permalink}}">
		{{$url := .Permalink}}
		{{$filename := strings.Replace .Params.featured_image (path.Ext .Params.featured_image) "_dithered.png"}}
		{{ $imgurl := path.Join "images" "dithers" $filename }}
		{{ with .Resources.GetMatch $imgurl }}          
		<div class="featured-img" style="background-image: url('{{ .Permalink }}');"></div>
		{{ end }}
		
		<h3 class="entry-title">{{.Title}}</h3>
		<p class="index-summary">{{.Summary}}</p>
		<time class="published">{{.Date | time.Format ":date_long"}}</time>
	</a>
</div>