{{- $newsletterlink := i18n "newsletterlink" | default ""
-}}
<div class="post-footer">
    <ul>
        <li><a href="{{$newsletterlink}}">{{i18n "subscribeNEWS" | default "Subscribe to our newsletter"}}</a>.</li>
        <li> {{i18n "supportLTM" | default "Support Low-tech Magazine via"}} <a href="">Paypal</a> {{i18n "or" | default "or"}} <a href="">Patreon</a>.</li>
        <li><a href="{{ absLangURL "offline-reading/" }}">{{i18n "readoffline" | default "Read Low-tech Magazine offline"}}</a>.</li>
    </ul>
</div>
